<!DOCTYPE html>
<html>
    <head>
        <title>Gestor de tareas</title>
        <link rel="icon" type="image/ico" href="/img/tick.ico">
        <link rel="stylesheet" type="text/css" href="/css/tasks.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/tasksPrint.css" media="print">
    </head>
    <body>
        <div class="header">
            <div class="page_title">
                <img src="/img/title.png" height="100"/>
            </div>
            <div class="user_container">
                <div class="avatar">
                    <img src="/Userimage" height="75"/>
                </div>
                <div class="user_info">
                    <span class="user_info--mail"><%= locals.userEmail %></span>
                    <a id="logout" href="/logout"> Desconectar</a>
                </div>
            </div>
        </div>
        <div class="page_container">
            <div class="task_list">
                <ul>
                    <% tasksList.forEach(task => { %>
                        <% if(task.done) { %>
                            <li class="task done">
                                <span class="task_title done"> <%= task.text %> </span>
                            </li> 
                        <% } else{ %>
                            <li class="task">
                                <span class="task_title"> <%= task.text %> </span>
                                <% if(task.tags != null) task.tags.forEach(tag => { %>
                                    <span class="task_tag"> <%= tag %> </span>
                                <% }) %>
                                <a href="/finish/<%= task.id %> " class="btn_primary">Marcar finalizada</a>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>
            <div class="task_add">
                <form method="POST" action="/addTask">
                    <input id="task_input" type="text" placeholder="Nueva tarea" name="new_task"/>
                    <input id="btn_add" type="submit" class="btn_primary" value="Añadir"/>
                </form>
            </div>
            <div class="task_delete">
                <a id="btn_delete" class="btn_primary" href="/deleteCompleted">ELIMINAR TAREAS COMPLETADAS</a>    
            </div>
        </div>
    </body>
</html>