<!DOCTYPE html>
<html>
    <head>
        <title>Crea tu pregunta</title>
        <link rel="icon" type="image/ico" href="/img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/questions.css" media="screen">
    </head>
    <body>
        <section><%- include header %></section>
        <div class="page_container">
            <h1 class="centered"><%= question.pregunta %></h1>
            <% if(question.friendId != null){ %>
                <h2 class="centered">Que ha respondido <%= question.friendName %> </h2>
                <div class="content_wrapper">
                    <form method="POST" action="/guessQuestion/<%= question.idPregunta%>/<%= question.friendId%>">
                        <% question.answersList.forEach(element => { %>
                            <input id="answer_input<%= element.id %>" type="radio" name="answer" value='<%= element.id %>'/><label for="answer_input_<%= element.id %>"><%= element.respuesta %></label>
                        <% }); %>
                        <input id="btn_ok" class="btn btn_primary" type="submit" value="Contestar"/>
                    </form>
                </div>
            <% }else{ %>
                <div class="content_wrapper">
                    <form method="POST" action="/answerQuestion/<%= question.idPregunta%>">
                        <% question.answersList.forEach(element => { %>
                            <input id="answer_input_<%= element.id %>" type="radio" name="answer" value='<%= element.id %>'/><label for="answer_input_<%= element.id %>"><%= element.respuesta %></label>
                        <% });%>
                        <input id="other_answer_input" type="text" class="input_primary" name="other_answer"/>
                        <input id="btn_ok" class="btn btn_primary" type="submit" value="Contestar"/>
                    </form>
                </div>
            <% } %>
        </div>
    </body>
</html>