<!DOCTYPE html>
<html>
	<head>
		<title>Tu perfil</title>
		<link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/profile.css" media="screen">
	</head>
	<body>
		<section><%- include header %></section>
		<div class="page_container">
			<h1 class="centered">Tu perfil</h1>
			<div class="profile_container">
				<div class="profile_img">
					<img src="/userImage" height="100" width="100">
				</div>
				<div class="profile_data">
					<span class="profile_data--name"><%= user.name %></span>
					<span class="profile_data--other"><%= user.date %></span>
					<span class="profile_data--other"><%= user.gender %></span>
					<span class="profile_data--other"><%= user.pts %></span>
				</div>
			</div>
			<div class="button_container">
				<a class="btn_primary btn_centered" href="">Modificar perfil</a>
			</div>
		</div>
	</body>
</html>	
	