<!DOCTYPE html>
<html>
	<head>
		<title>Detalle pregunta</title>
		<link rel="icon" type="image/ico" href="/img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/question_detail.css" media="screen">
	</head>
	<body>
		<section><%- include header %></section>
		<div class="page_container">
			<h1 class="centered"><%= questionTitle %></h1>
            
                <% if(myAnswer == null){ %>
                    <h3 class="centered">No has contestado a esta pregunta</h3>
                    <div class="button_container">
                        <a href="/answerQuestion/<%= questionId%>" class="btn btn_primary btn_centered">Contestar pregunta</a>
                    </div>
                <% }else{ %>
                    <h3 class="centered">Tu respuesta es: <%= myAnswer %></h3>
                <% } %>
            
            <h3 class="centered">Amigos que han contestado a la pregunta:</h3>
			<div class="content_wrapper">
				<ul>
					<% contactsList.forEach(contact => { %>
                        <li>
                            <img src="/userImage/<%= contact.id %>" class="friend_avatar" height="50" width="50">
                            <a href="/profile/<%= contact.id%>" class="link friend_name"><%= contact.nombre %></a>
                            <div class="button_container btn_right">
                                <% if(contact.resultado == null){ %>
                                    <a class="btn btn_primary" href="/guessQuestion/<%= questionId %>/<%= contact.id%>">Adivinar</a>
                                <% }else if(contact.resultado == 1){ %>
                                    <span class="correct_answer">Has acertado</span>
                                <% }else{ %>
                                    <span class="wrong_answer">Has fallado</span>
                                <% } %>
                            </div>
                        </li>
					<% }) %>
				</ul>
			</div>
	</body>
</html>